.noteSelectorContainer {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}

.noteOption {
	/*box-sizing: border-box;*/
	height: 70px;
	/*width: 42.5px;*/
	padding: 10px;
	border: 2px solid transparent;
	border-radius: 12px;
	cursor: pointer;
	filter: invert(100%);
}

.solidBorder {
	/*box-sizing: border-box;*/
	border: 2px solid #555;
	/*background-color: rgba(100,100,100,.2);*/
	border-radius: 12px;
}

.noteOption:hover{
	/*box-sizing: border-box;*/
	/*border: 2px solid black;*/
	background-color: rgba(255,255,255,.1);
	border-radius: 12px;
}