.noteSelectorContainer {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}

.noteOption {
	height: 70px;
	padding: 10px;
	border: 2px solid transparent;
	cursor: pointer;
	filter: invert(100%);
}

.solidBorder {
	border-bottom: 2px solid #000;
}

.noteOption:hover{
	filter: invert(85%);
	border-bottom: 2px solid rgba(0,0,0,.85)
	/*background-color: rgba(255,255,255,.1);*/
}