.beat{
	width: 265px;
	height: 135px;
	border-top:1px solid black;
	border-bottom:1px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
	float:left;
	border-right: 1px solid black;
	padding-top: 10px;	
	/*padding-left: 6px;*/
}

.beat:first-child{
	border-left: 1px solid black;
}