.beat{
	border-top:1px solid black;
	border-bottom:1px solid black;
	border-right: 1px solid black;
	float:left;
	padding-top: 11px;
	padding-bottom: 11px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.beatFour{
	border-left: 1px solid black;
}

.beat:first-child{
	border-left: 1px solid black;
	padding-left: 1px;
}