.allMeasuresContainer{
	background: white;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 13px;
}

.allMeasuresContainer button{
	background: white;
	color: #212121;
	border: 1px solid #212121;
	font-size: 1em;
	text-align: center;
	/*width: 100%;*/
	border-radius: 8px;
}

.allMeasuresContainer button:hover{
	background: #212121;
	color: white;
	cursor: pointer;
}

.allMeasuresContainer button:focus{
	outline: none;
}