.tabControl{
	margin-bottom: 20px;
}

.allMeasuresContainer{
	background: white;
	width: 1200px;
	border: 2px solid green;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 13px;
}

.allMeasuresContainer button{
	background: white;
	color: black;
	border: 1px solid black;
	font-size: 15px;
	text-align: center;
	width: 100%;
}

.allMeasuresContainer button:hover{
	background: black;
	color: white;
	cursor: pointer;
}