*::-webkit-scrollbar {
    width: 1em;
}
 
*::-webkit-scrollbar-track {
	background-color: #843d3d;
    box-shadow: inset 0 0 8px #212121;
  	border-left: 1px solid #333;
}

*::-webkit-scrollbar-thumb {
	background-color: #212121;
	border-left: 1px solid #333;
}

* {
	/*outline: none;*/
	outline-color: #66cccc;
	outline-width: 1px;
	outline-offset: -3px;
	user-select: none;
}

.tuningPeg button:focus {
	outline-style: inset;
}

nav {
	box-sizing: border-box;
	width: 100%;
	height: 100px;
    background: linear-gradient(to right, #993333, #212121);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 200;
}

option {
	background-color: #212121;
	color: white;
}

.signedInDiv{
	text-align: center;
	color: white;
}
.signInDiv button,.signedInDiv button {
	background-color: rgba(0,0,0,0); 
	color: white;
	border: 1px solid white;
	border-radius: 8px;
	padding: 5px 8px;
	cursor: pointer;
	user-select: none;
}

.signedInDiv button {
	margin:8px;
}

.signInDiv button:hover,.signedInDiv button:hover {
	background: white;
	color: #212121;
	cursor: pointer;
}

.signInDiv button:focus,.signedInDiv button:focus{
	outline: none;
}

.logo {
	height: 90%;
	margin: 10px 0;
	filter: drop-shadow(-5px -3px 4px #212121);
}

.StForm {
	width: 250px;
	display: flex;
	color: white;
	background: linear-gradient(to right, #212121 , #38363d);
}

.StBoardInfo {
	padding-top: 50px;
	padding-bottom: 63px;
	padding-left: 30px; 
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 1.2em;
}

.StBoardInfo select {
	border-radius: 8px;
	background-color: rgba(0,0,0,0);
	color: white;
	height: 2em;
	margin-top: 5px;
}

.StTuningPegs {
	margin-top: 50px;
	margin-bottom: 30px; 
	width: 30px;
}

.tuningPeg {
	display: flex;
	flex-wrap: wrap;
}

.tuningPeg button {
	box-sizing: border-box;
	width: 100%;
	height: 29px;
	background-color: #212121;
	border: 1px solid #999;
	color: white;
}

.tabWriterContainer{
	background: linear-gradient(to right, #993333 , #212121);
	padding: 20px;
	color: white;
	box-shadow: inset 0 1px 18px 0 #212121;
}

.tabWriterContainer input[type="number"] {
	background-color: rgba(0,0,0,0);
	border-radius: 8px;
	border: 1px white solid;
	color: white;
}

.tabWriterContainer input[name="timeSig"] {
	width: 30px;
}

input [name="timeSig"] {
	width: 20px;
}

.tabWriterContainer input[type=number]::-webkit-inner-spin-button {
	display: none;
}

.tuningPeg button:hover {
	background-color: #333;
	cursor: pointer;
}

.noClick{
	pointer-events: none;
}

.displayNone{
	display: none;
}

.tabPrefDiv {
	padding: 20px;
	width: 700px;
	display: flex;
	justify-content: space-around;
	border-radius: 8px;
	margin: 20px auto;
	font-size: 1.2em;
}

.tabPrefDiv input[type="submit"], .tabPrefDiv button {
	background-color: rgba(0,0,0,0);
	color: white;
	border: 1px solid white;
	border-radius: 8px;
	height: 25.8px;
	width: auto;
}

.tabPrefDiv input[type="submit"] {
	font-size: .8em;
}

.tabPrefDiv input[type="submit"]:hover{
	color: #212121;
	background: white;
	cursor: pointer;
}

.tabPrefDiv button:hover{
	color: #212121;
	background: white;
	cursor: pointer;
}

.tabPrefDiv button i{
	font-size: 11px;
	text-align: center;
}

.passLine{
	margin-top: 10px;
}

.userInfoDiv {
	margin-top: 20px;
	width: 100%;
	align-items: center;
	flex-direction: column;
}

.loginForm {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inputField{
	width: 100%;
	border-radius: 8px;
	outline: none;
	font-size: .9em;
	padding: 1px 5px;
	text-align: left;
	border: 1px solid #212121;
}

.buttonBox {
	width: 100%;
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
}


.userLine, .passLine{
	padding-left: 5px;
}

.Modal-modal-0-1-3{
	padding: 40px !important;
	font-size: 1.4em;
	width: 400px;
	display: flex;
	justify-content: center;
	height:270px;
}

.buttonBox button {
	border-radius: 8px;
	color: white;
	border: 0;
	padding: 7px;
}

.buttonBox button:disabled {
	background: #999!important;
    cursor: not-allowed!important;
}

.createButton {
	background: #993333;
}

.signInButton {
	background-color: #212121;
}

.buttonBox button:hover {
    background: linear-gradient(to right, #993333, #212121);
    cursor: pointer;
}

#loginError {
	margin-top: 5px;
	color: red;
	font-size: 12px;
	text-align: center;
}

.logoDiv{
	background-color: #212121;
	width:200%;
	text-align: center;
	border-radius: 5px;
}

.savedTabs{
	width:80%;
}

.listBox{
	margin-top: 5px;
	height:200px;
	display:flex;
	flex-direction: column;
	overflow-y: auto;
	overflow-x: hidden;
}
.titleTabs{
	background-color: #212121;
	color:white;
	width:100%;
	text-align: center;
	border-radius: 5px;
	height:83px;
	padding-top: 1px;
	
}

.titleTabs h3{
	margin-top: 5px;
	filter: drop-shadow(0 0 6px #993333);
	font-size: 54px;
}

.modalLogo {
	max-width: 200px;
	filter: drop-shadow(0 0 6px #993333);
}

li{
	width:100%;
	display: flex;
	justify-content: space-between;
	margin-top: 1px;
}


li button{
	color: white;
	font-size: .6em;
	text-align: center;
	border-radius: 8px;
	background: #212121;
	border: 0;
}
