.chordLetters{
	font-size: 18px;
	margin-right: 10px;
	width: 24px;
	flex-direction: column;
	align-content: center;
}

.letter{
	width: 100%;
	text-align: center;
	height: 22px;
	color: #212121;
}

.letter:first-child{
	margin-top: 21px;
}