.chordLetters{
	font-size: 17px;
	margin-right: 10px;
}

.letter{
	width: 100%;
	text-align: center;
}

.letter:first-child{
	margin-top: 21px;
}

.letter:nth-child(2){
	margin-top: 3px;
}

.letter:nth-child(3){
	margin-top: 2px;
}

.letter:nth-child(4){
	margin-top: 2px;
}

.letter:nth-child(5){
	margin-top: 1px;
}
.letter:last-child{
	margin-top: 3px;
}