.stNeck {
	display: flex;
	padding-left: 40px;
	background-color: #38363d;
	height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.stFretGuide {
	width: 98px;
	color: white;
	line-height: 30px;
	text-align: center;
}

.stFret {
	opacity: 1;
	width: 90px;
	height: 50px;
	margin: 0;
	text-align: center;
	padding-top: auto;
	padding-bottom: auto;
	border-radius: 10px;
	line-height: 50px;
	background-color: #843d3d;
	color: white;
	font-weight: 400;
}

.StSect {
	display: flex;
	flex-wrap: nowrap;
}

.StSect * {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently*/
}

.StStringValue {
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
    position: absolute;
    height: 58px;
    width: 40px;
    border: 1px solid #999;
    box-sizing: border-box;
    background-color: #212121;
}

.scroller {
	overflow-x: scroll;
}

.StFrets {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	padding-left: 40px;
}

.fretSect {
	border-right: 1px solid #666;
	border-left: 1px solid #666;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	padding: 3px;
}

.fretSect:hover {
	background-color: #333;
	cursor: pointer; 
}

.stFretboard {
	width: 100%;
	overflow-x: scroll;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.stFretboard::-webkit-scrollbar {
    width: 1em;
}
 
.stFretboard::-webkit-scrollbar-track {
	background-color: #843d3d;
    box-shadow: inset 0 0 8px #212121;
}
 
.stFretboard::-webkit-scrollbar-thumb {
  background-color: #212121;
  outline: 1px solid slategrey;
}

.stString {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	background-color: #212121
}

.hideFret {
	visibility: hidden;
}

.showFret {
	cursor: pointer;
}

.noRel {
	background-color: #444!important;
	color: #ccc;
}

.root {
	box-sizing: border-box;
	background-color: #eee!important;
	color: #212121;
}

.C {
	background-color: #d37d7c;
}

.Db {
	background-color: #4f332c;
}

.D {
	background-color: #7a7aad;
}

.Eb {
	background-color: #6f2f24;
}

.E {
	background-color: #228768;
}

.F {
	background-color: #39525a;
}

.F\# {
	background-color: #a4b9a7;
}

.G {
	background-color: #67524e;
}

.Ab {
	background-color: #809aa4;
}

.A {
	background-color: #a7a076;
}

.Bb {
	background-color: #7c4787;
}

.B {
	background-color: #857a8a;
}