.WTWrapper{
	margin: 10px auto;
	clear:both;
	display: flex;
	justify-content: center;
	width: 100%;
}

.measureButtonContainer{
	margin-left: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.WTWrapper button{
	background: white;
	color: black;
	border: 1px solid black;
	font-size: 15px;
	text-align: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.WTWrapper button:first-child{
	margin-bottom: 7px;
}

.WTWrapper button:last-child{
	margin-top: 7px;
}

.WTWrapper button:hover{
	background: black;
	color: white;
	cursor: pointer;
}