.WTWrapper{
	margin: 10px 0px;
	clear:both;
	display: flex;
	justify-content: center;
}

.noClick{
	pointer-events: none;
}

.measureButtonContainer{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.WTWrapper button{
	background: white;
	color: black;
	border: 1px solid black;
	font: Arial;
	font-size: 15px;
	text-align: center;
}

.WTWrapper button:first-child{
	margin-top: 50px;
}

.WTWrapper button:last-child{
	margin-bottom: 50px;
}

.WTWrapper button:hover{
	background: black;
	color: white;
	cursor: pointer;
}