.editableNote{
	float:left;
	height: 1px;
	width: 100%;
	background-color: black;
	margin-top: 10px;
}

.note:first-child{
	padding-left: 6px;
}

.note{
	text-align: center;
	height: 20px;
	float: left;
	padding-top: 1px;
	padding-right: 2px;
	padding-left: 2px;
	width: 12px;
	font-size: 14px;
}

.note:after

.noteForm{
	width: 14px;
}

.enteredNote{
  height: 15px;
  width: 15px;
  font-size: 14px;
  background-color: black;
  color: white;
  border-radius: 50%;
  display: inline-block;

}

input{
	width: 8px;
	font-size: 8px;
	text-align: center;
}