.editableNote{
	height: 1px;
	width: 100%;
	background-color: #212121;
	margin-top: 10px;
}

.disabledNote{
	height: 5px;
	width: 16px;
	background-color: #212121;
	margin-top: 8px;
}

.disabledNoteBox{
	height: 20px;
	width: 16px;
	margin-bottom: 2px;
	padding-left: 0;
	padding-right: 0;
}

.note{
	text-align: center;
	height: 22px;
	padding-right: 3px;
	padding-left: 3px;
	width: 16px;
	font-size: 14px;
	box-sizing: border-box;
}

.note * {
	box-sizing: border-box;
}

.enteredNote{
	height: 15px;
	margin-top: 3px;
	padding-top: 2px;
	width: 16px;
	font-size: 10px;
	background-color: #212121;
	color: white;
	border-radius: 35%;
	position: relative;
	left: -3px;
}

.flashForward{
	animation-fill-mode: forwards;
 	animation-name: "flash-forward";
  	animation-duration: .2s;
  	animation-iteration-count: 1;
}

@keyframes flash-forward{
	0% { background-color: #212121;} 
    100% { background-color: #993333;}
}

.flashBackward{
	animation-fill-mode: forwards;
 	animation-name: "flash-backward";
  	animation-duration: .1s;
  	animation-iteration-count: 1;
}

@keyframes flash-backward{
	0% { background-color: #993333;}
	100% { background-color: #212121;} 
}

input{
	width: .75vw;
	font-size: 8px;
	text-align: center;
	position: relative;
	left: -3px;
}