.measureHeader h1{
	font-size: 35px;
	display: inline-block;
	margin: 0;
	color: #212121;
	height: 35px;
	box-sizing: border-box;
	font-weight: normal; 
}

.titleSavePrint {
	display: flex;
	justify-content: space-between;
	padding: 30px;
}

.savePrint {
	display: flex;
	justify-content: space-between;
}

.measureHeader form{
	display: inline;
	margin-bottom: 0;
	box-sizing: border-box;
	height: 35px;
}

.measureHeader input{
	box-sizing: border-box;
	font-size: 35px; /*should match font-size of h1*/
	width: 100%;
	text-align: left;
	margin: 0;
	height: 35px;
}

#printTab, #saveTab{
	width: 50px;
	font-size: 1.3em;
	padding: 2px;
	border: 0;
}

#saveTab {
	margin-right: 10px;
}

.addOrClearMeasures{
	display: flex;
	justify-content: center;
	margin-top: 20px; 
	width: 100%;
}

#addMeasure, #clearMeasures{
	width: auto;
	margin-bottom: 10px;
	margin-right: 10px;
}


