.measureHeader h1{
	font-size: 35px;
	display: inline-block;
	margin-left: 30px;
	margin-bottom: 0;
	color: black;
}

.measureHeader button{
	float: right;
}

.measureHeader form{
	margin-left: 30px; /*should match margin-left of h1*/
	margin-top: 23.45px; /*should match margin-top of h1*/
	width: 80%;
}

.measureHeader input{
	font-size: 35px; /*should match font-size of h1*/
	width: 90%;
	text-align: left;
}

#printTab, #saveTab{
	width: auto;
	margin-top: 35px;
	margin-right: 10px;
}

.addOrClearMeasures{
	display: inline-block;
	width: 100%;
}

#addMeasure, #clearMeasures{
	width: auto;
	margin-bottom: 10px;
	margin-right: 10px;
}


